/* Background Color*/
body{
    background: gray;
}

/*Header*/
h1 {
   color: white; 
}
h2 {
    color: white;
}


/*Text*/
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

